{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %}

{% block contenido_principal %}
<!-- Búsqueda -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/usr/buscarOferta">
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control"
                       placeholder="Título de la oferta" name="busqueda"/>
                <span class="input-group-btn">
<button class="btn" type="submit">
<span class="glyphicon glyphicon-search"></span>
</button>
</span>
            </div>
        </form>
    </div>
</div>

<h2>Ofertas disponibles</h2>
<!-- Agregar Oferta -->
<div class="row text-right">
    <a href="/usr/agregarOferta" class="btn btn-info" role="button">Agregar oferta</a>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Precio</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in ofertas %}
        {% if oferta.creador != usuario %}
        <tr>
            <td>{{ oferta.titulo }}</td>
            <td>{{ oferta.descripcion }}</td>
            <td>{{ oferta.fecha.toString() }}</td>
            <td>{{ oferta.precio }}</td>
            <td>
                {%if oferta.comprador == "" %}
                <a href="/usr/comprar/{{ oferta._id.toString() }}">Comprar</a> <br>
                {%endif%}
                {%if oferta.comprador != ""%}
                <p style="color: red" >Vendida</p>
                {%endif%}
            </td>
        </tr>
        {%endif%}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}