{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %}

{% block contenido_principal %}

<h2>Ofertas creadas</h2>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Precio</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in ofertas %}
        <tr>
            <td>{{ oferta.titulo }}</td>
            <td>{{ oferta.descripcion }}</td>
            <td>{{ oferta.fecha.toString() }}</td>
            <td>{{ oferta.precio }}</td>
            <td>
                <a href="/usr/eliminarOferta/{{ oferta._id.toString() }}">Eliminar</a> <br>
            </td>
            <td>
                {%if oferta.destacada == "false" %}
                <a href="/usr/marcarDestacada/{{ oferta._id.toString() }}">Marcar como destacada</a> <br>{%endif%}
                {%if oferta.destacada == "true"%}
                <p style="color: green" >Destacada</p>
                {%endif%}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}