{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %}

{% block contenido_principal %}
<h2>Usuarios registrados</h2>

<div class="table-responsive">
    <form method="post" action="/adm/eliminarUsuariosSeleccionados">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th><input class="btn btn-info" type="submit" id="DeleteButton"
                           value="Eliminar usuarios seleccionados"/></th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellidos }}</td>
                <td><input id="idsSelectedUsers" type="checkbox"
                           name="idsSelectedUsers" value='{{user.email}}'></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}